#cursor {
    display: inline;
    font-size: 16px;
    font-family: monospace;
}

pre {
    display: inline;
    font-size: 16px;
}

.historyCommand {
    display: inline;
}

.historyResponse {
    display: inline;
}

.historyError {
    display: inline;
    color: red;
}