.App {
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 50px;
}

#annotations {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 10px;
  padding-bottom: 10px;
}